@font-face {
  font-family: "Exo2.0-Thin";
  font-weight: 100;
  src: url(../public/fonts/Exo2.0-Thin.otf) format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: white;
  background-color: #1e1e1e;
}
